.h1_animation{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 200%;
  margin-left: 45px;
  margin-top: 40px;
  font-weight: bold;
  color:rgb(0, 0, 0);
  opacity: 0.7;
  
}

.state_searcher{
  position:absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 20%;
  height: 6%;
  border-radius: 20px;
  border: 0px;
  top: 9%;
  left: 65%;
  background-color: rgb(240, 240, 240);
  text-align: center;
  transition: 0.4s;
}
input:focus {
  outline: none;
  transition: 0.4s;
  box-shadow: 5px 5px 5px rgb(201, 201, 201), -10px -10px 10px white;
}

.searchIcon{
  position:absolute;
  width: 20px;
  top: 10.4%;
  left: 66%;
  opacity: 0.5;

}


.frame{
  position: absolute;
  border-radius: 30px;
  height: 100%;
  width: 75%;
  background-color: white;
  top: 0%;
  left: 0%;
}

.frame2{
  position:absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top:0%;
  left: 70%;
  height: 100%;
  width: 30%;
  background-color: rgb(10, 46, 122);
  border-radius: 30px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.backgroundImages{
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.cloud1{
  display: block;
  position: absolute;
  width: 35%;
  height: auto;
  left: 50%;
  top: -2%;
  animation: 2s introduction 
}

.cloud2{
  display: block;
  position:absolute;
  width: 20%;
  top: 20%;
}

.cloud3{
  display: block;
  position:absolute;
  width: 15%;
  top: 40%;
  left: 80%;
  animation: 1s introduction 
}

@keyframes introduction {
  from {
      translate: 3vw 0;
      scale: 105% 1;
  }
  to{
    translate: 0 0;
    scale: 100% 1;
  }
}


p{
  margin: 30px;
}

/* Tabs administration */

.tabs {
  display: flex;
  background-color: transparent;
  position: relative;
  padding: 0.4rem;
  height: 1.8rem;
  width: 31.8rem;
  border-radius: 99px;
  top:6.7rem;
  left:4rem;
}

.tabs * {
  z-index: 2;
}

.tabs input[type="radio"] {
  display: none;
}

.tab {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 4em;
  font-size: .8rem;
  color: rgb(128, 128, 128);
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  margin-left: 1.8rem;
  margin-right: 3rem;
  padding: auto;
}

.tabs input[name="tabs"]:checked + div {
  color: #000000;
}

.glider {
  position: absolute;
  display: flex;
  height: 10px;
  width: 10px;
  background-color: #000000;
  z-index: 1;
  border-radius: 99px;
  top: 2.5em;
}

.content{
  position: absolute;
  display: block;
  padding: 1rem;
  top: 9.8rem;
  left: 3rem;
  width: auto;
}

.DaysContent{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: block;
  margin-bottom: -11.5em;
}

.WaterDrop{
  position: inherit;
  width: 1em;
}

.humidity{
  display: block;
  position: relative;
  left: 6em;
  top: -3em;
  margin-left: 3rem;
}

.weather{
  display: block;
  position: relative;
  top: -7em;
  left: 15em;
  width: 1em;
  margin-left: 4rem;
}

.weatherImageclass{
  position: absolute;
  width: 3em;
}

.temperature{
  display: block;
  position: relative;
  left: 22rem;
  top: -7em;
  margin-left: 6rem;
}

.temperatureIMG{
  position: inherit;
  top: 0.7em;
  left: -0.5em;
  width: 2em;
}

.minIMG{
  opacity: 0.5;
  position: inherit;
  top: 0.7em;
  left: 0.3em;
  width: 2em;
  
}

.maxIMG{
  opacity: 0.5;
  position: inherit;
  top: 0.7em;
  left: 0.3rem;
  width: 2em;
}

.maxtemperature{
  color: gray;
  left: 27rem;
  top: -9.25rem;
}

.mintemperature{
  color: gray;
  left: 32.5rem;
  top: -11.5rem;
}

.sections{
  font-size: 15px;
  font-weight: 500;
}

.loading{
  left: 16rem;
  top: 5rem;
}

.thisDay{
  position: absolute;
  display:block;
  opacity: 1;
  color: white;
  bottom: 75%;
  left: 45%;
}

.thisDayD{
  position: absolute;
  display:block;
  opacity: 0.8;
  color: white;
  bottom: 71.5%;
  left: 34%;
  scale: 0.7;
}

.Thisdayimg{
  position: absolute;
  opacity: 0.9;
  width: 15%;
  left: 22%;
  top: 15.4%;
}

.thisDayh2{
  position: absolute;
  display:block;
  color: white;
  bottom: 56%;
  left: 46%;
  scale: 3;
}

.thisDayh2p{
  position:fixed;
  top: -1.5em;
  left: -0.5em;
  scale: 0.4;
}

@media (max-width: 700px) {
 
  .tabs {
    transform: scale(0.6);
  }
}
