:root{
  position: absolute;
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgb(47, 77, 102), -10px -10px 10px white;;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%,-50%);
}

body {
  background: linear-gradient(300deg,#7fd4ff,#5281ff,#b8d9ff,#3f65ff);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
  background-attachment: fixed;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
